<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betterschool.co">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utilityClass.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterSchool">
        <activity android:name=".classPackage.mainPageClass.showSingleExam.ShowSingleExamActivity"></activity>
        <activity android:name=".classPackage.exam.ExamActivity" />
        <activity android:name=".classPackage.attendance.AttendanceDateActivity" />
        <activity android:name=".classPackage.attendance.AttendanceActivity" />
        <activity android:name=".classPackage.mainPageClass.MainPageClassActivity" />
        <activity android:name=".classPackage.startClass.StartClassActivity" />
        <activity android:name=".classPackage.TeachersClassActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".news.NewsActivity" />
        <activity android:name=".classContainer.moveStudent.ModeStudentActivity" />
        <activity android:name=".semesters.SemestersActivity" />
        <activity android:name=".classContainer.classes.InsertClassActivity" />
        <activity android:name=".classContainer.classes.ClassesActivity" />
        <activity android:name=".classContainer.insertClassContainer.InsertClassContainerActivity" />
        <activity android:name=".classContainer.ClassContainerActivity" />
        <activity android:name=".teachers.insertTeacher.InsertTeacherActivity" />
        <activity android:name=".teachers.TeachersActivity" />
        <activity android:name=".students.insertStudent.InsertStudentActivity" />
        <activity android:name=".students.StudentsActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>